@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url("font/Gilroy-Bold.ttf");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url("font/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("font/Gilroy-SemiBold.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

*:focus {
    outline: none;
}

body {
    background: transparent;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    /* border-radius: 14px; */
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #4677FF;
    border-radius: 5px;
}