name: Build
on:
  push:
    branches: [ tauri_v1 ]

jobs:
  build-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, macos-latest-large, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
    
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 21
      
      - name: install Rust
        uses: dtolnay/rust-toolchain@nightly
      
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf libx11-dev xorg-dev libglu1-mesa-dev libglib2.0-0 libgtk2.0-dev
      
      - name: Setup Cargo dependency cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: shared
      
      - name: install app dependencies and build it
        run: yarn && yarn build
      
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
      
      - uses: actions/upload-artifact@v3
        if: matrix.platform == 'ubuntu-latest'
        with:
          name: liquidlauncher-appimage-linux
          path: ./src-tauri/target/release/bundle/appimage/liquidlauncher_**.AppImage.*

      - uses: actions/upload-artifact@v3
        if: matrix.platform == 'ubuntu-latest'
        with:
          name: liquidlauncher-deb-linux
          path: ./src-tauri/target/release/bundle/deb/liquidlauncher_**.deb

      - uses: actions/upload-artifact@v3
        if: matrix.platform == 'windows-latest'
        with:
          name: liquidlauncher-windows
          path: ./src-tauri/target/release/bundle/msi/liquidlauncher_**.msi.*
      
      - uses: actions/upload-artifact@v3
        if: matrix.platform == 'windows-latest'
        with:
          name: liquidlauncher-windows
          path: ./src-tauri/target/release/bundle/nsis/liquidlauncher_**.nsis.*

      - uses: actions/upload-artifact@v3
        if: matrix.platform == 'macos-latest'
        with:
          name: liquidlauncher-macos
          path: ./src-tauri/target/release/bundle/macos/liquidlauncher.app.tar.*

      - uses: actions/upload-artifact@v3
        if: matrix.platform == 'macos-latest-large'
        with:
          name: liquidlauncher-macos-large
          path: ./src-tauri/target/release/bundle/macos/liquidlauncher.app.tar.*
